.bio-section {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  padding: 20px;
  color: var(--color-text);
  font-size: 1.2rem;
  width: 30%;
  text-align: right;
  font-weight: bold;
  text-shadow: rgb(255, 255, 255) 10px 0px 10px;
}

@media (max-width: 768px) {
  .bio-section {
    position: static;
    margin: 20px auto;
    width: 90%;
  }
}

.vibrate:hover {
  animation: vibrate 0.1s infinite;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3c3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
}

.circle-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  align-items: center;
  padding: 1rem 0;
}

.social-section {
  position: fixed;
  bottom: 25%;
  left: 10%;
  margin: 20px;
  width: 40%;
}

@media (max-width: 768px) {
  .bio-section {
    position: static;
    margin: 20px auto;
    width: 90%;
  }
}

/* Text should slowly appear from left to right on hover */

.text-appear {
  position: relative;
  overflow: hidden;
}

.text-appear::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(0, 0, 0, 0.316) 50%
  );
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.text-appear:hover::before {
  transform: translateX(0);
  z-index: -1;
}

.text-appear:hover {
  color: #fff;
  cursor: pointer;
}
